body {
	background-image: url("https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.q1 {
    color: blue;
    text-align: center;
}

.card {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.winLoss {
    color: blue;
}